@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');
html{
    height: 100vh;
    width: 100vw;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ff346c !important;
    align-items: center;
    justify-content: center;
}

#landing-body{
    background-color: #ff346c !important;
}

#logo{
    width: 15rem;
}
